.price-card {
  cursor: pointer;
  
  .metric-label {
      margin-bottom: 0.5rem !important;
      font-size: 0.8rem !important;
      line-height: 1.2 !important;
      text-align: center;
      letter-spacing: 1px !important;
      text-transform: uppercase;
      text-shadow: 1px 1px 3px rgb(0 0 0 / 70%);
  }

  .metric {
    font-family: Merriweather, serif !important;
    font-size: 1.75rem !important;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 60%);
  }
  
  @media screen and (max-width: 479px) {
    .metric-label {
      font-size: 0.7rem !important;
      letter-spacing: 0px !important;
    }
  }

  @media screen and (max-width: 479px) {
    .metric {
      font-size: 1rem !important;
      letter-spacing: -0.5px !important;
    }
  }
}
